html {
    scroll-behavior: smooth;
}

/* Resetování výchozích stylů prohlížeče */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Základní styl pro tělo stránky */
body {
    font-family: "Raleway", sans-serif;
    background-color: #f4f4f4;
    color: #333333;
    line-height: 1.6;
}

/*** Works on common browsers ***/
::selection {
    background-color: #886e42;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #886e42;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #886e42;
    color: #fff;
}

::-ms-selection {
    background-color: #886e42;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #886e42;
    color: #fff;
}

/* Kontejner pro obsah stránky */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}


.nadpisy:hover {
    color: #add1ff;
}

/* Hlavička */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    color: #000;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 0px 10px #00000085;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    scroll-margin-top: 150px; /* Set this to the height of your header */
}

/* Logo */
.logo img {
    width: 100px;
    height: auto;
    margin-left: 75px;
}

/* Navigační menu */
.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-right: 75px;
}

.menu ul li {
    margin: 20px 0;
}

.menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
    font-weight: 550;
    transition: color 0.3s;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #886e42;
    transition: width .3s ease;
    -webkit-transition: width .3s ease;
}

.menu ul li a:hover::after {
    width: 100%;
    left: 0;
    background: #886e42;
}

.menu ul li a:hover {
    color: #886e42;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 25px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1001; /* Ensure the hamburger icon is on top */
}

.hamb-line {
    background: #886e42;
    display: block;
    height: 2px;
    width: 24px;
    margin: 4px 0;
    transition: all .2s ease-out;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ .menu {
    display: flex;
}

.side-menu:checked ~ .hamb .hamb-line:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
}

.side-menu:checked ~ .hamb .hamb-line:nth-child(2) {
    opacity: 0;
}

.side-menu:checked ~ .hamb .hamb-line:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
}

/* Responsiveness */
@media (min-width: 1000px) {
    .menu {
        display: flex;
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .menu ul {
        display: flex;
        flex-direction: row;
    }

    .menu ul li {
        margin-right: 25px;
        margin-left: 0;
    }

    .menu ul li:last-child {
        margin-right: 0;
    }

    .hamb {
        display: none;
    }
}

@media (max-width: 1000px) {
    .menu ul li a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 24px;
        transition: color 0.3s;
    }

    .menu ul li a:hover {
        color: #886e42;
        font-weight: bold;
    }

    .menu ul {
        margin-right: 0px;
    }
}

@media (max-width: 575px) {
    .logo img {
        width: 100px;
        height: auto;
        margin-left: 20px;
    }

    .hamb {
        margin-right: -5px;
    }
}




/* Nadpisy */
h1, h2, h3 {
    color: #333;
    text-align: center; /* Vycentrování nadpisů */
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}


/* Odstavce */
p {
    margin-bottom: 15px;
}

/* Obrázky */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Oddělovač */
hr {
    border: none;
    border-top: 1px solid #886e42;
    margin: 20px 0;
    margin-top: 100px;
    margin-bottom: 100px;
}

.podtrhavac {
    border: none;
    border-top: 1px solid #886e42;
    margin: 20px 0;
    margin-left: 400px;
    margin-right: 400px;
}

.denninadpis {
    font-weight: 825;
}

.dennisub {
    color: #886e42;
    font-weight: 825;
}

#denni h3 {
    font-weight: 500;
}

/* Style the tab */
.tab {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: #e4e4e4;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 22px 52px;
    transition: 0.3s;
    margin-left: 1px;
    margin-right: 1px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #886e42;
    color: white;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #886e42;
    color: white;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
    margin-top: 25px;
  }

  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }

  .tabcontent h3 {
    font-weight: 500;
  }

  .tablinks {
    color: #886e42;
    font-size: 16px;
    font-weight: 770;
    font-family: "Raleway", sans-serif;
  }


  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @media (max-width: 750px) {
    .tab {
        flex-direction: column;
        justify-content: center;
    }
    .tab button {
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #886e42;
        background-color: white;
    }

}

@media (max-width: 1290px) {
    .podtrhavac {
        margin-left: 200px;
        margin-right: 200px;
    }

}

@media (max-width: 790px) {
    .podtrhavac {
        margin-left: 100px;
        margin-right: 100px;
    }

}
@media (max-width: 520px) {
    .podtrhavac {
        margin-left: 0px;
        margin-right: 0px;
    }

}



/* Sekce O nás */
#about {
    text-align: center;
    padding: 20px 0;
}

#about .container {
    max-width: 800px; /* Určete maximální šířku */
    margin: 0 auto;
}

#about h2 {
    margin-bottom: 20px;
    color: #886e42;
    font-weight: 825;
}

#about h3 {
    font-weight: 825;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text {
    flex: 1;
    text-align: left;
}

.about-image {
    flex: 1;
    text-align: right;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 40px;
    margin-left: 45px;
    box-shadow: 0px 0px 50px #886e42ab;
    border: 4px solid #886e42;
}

.about-image-leva {
    flex: 1;
    text-align: left;
}

.about-image-leva img {
    max-width: 100%;
    height: auto;
    border-radius: 40px;
    margin-right: -150px;
    margin-top: 100px;
    box-shadow: 0px 0px 50px #886e42ab;
    border: 4px solid #886e42;
}

.about-image-prava {
    flex: 1;
    text-align: right;
}

.about-image-prava img {
    max-width: 100%;
    height: auto;
    border-radius: 40px;
    margin-left: -150px;
    margin-top: 100px;
    box-shadow: 0px 0px 50px #886e42ab;
    border: 4px solid #886e42;
}

/* Sekce Rezervace */
#reservation {
    text-align: center;
    padding: 20px 0;
}

#reservation .container {
    max-width: 600px; /* Určete maximální šířku */
    margin: 0 auto;
}

#reservation h2 {
    margin-bottom: 20px;
    color: #886e42;
    font-weight: 825;
}

#reservation form {
    text-align: left;
}

#reservation .form-group {
    margin-bottom: 20px;
    font-size: 14px;
}

#reservation label {
    display: block;
    margin-bottom: 5px;
}

#reservation input[type="text"],
#reservation input[type="tel"],
#reservation input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#reservation input[type="date"],
#reservation input[type="time"],
#reservation input[type="number"],
#reservation select,
#reservation textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#reservation button[type="submit"] {
    /*box-shadow: 0 0 10px #fdce7d;*/
    background-color: #886e42;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: solid 1px #886e42;
}

#reservation button[type="submit"]:hover {
    background-color: #ffffff;
    color: #886e42;
}






/* Sekce Recenze */
#reviews {
    text-align: center;
    padding: 50px 0;
}

#reviews .container {
    max-width: 1500px; /* Určete maximální šířku */
    margin: 0 auto;
}

#reviews h2 {
    margin-bottom: 20px;
    color: #886e42;
    font-weight: 825;
}

.review {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.review-box {
    flex: 1;
    background-color: #ffffff;
    border: 2px solid #886e42;
    padding: 40px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    /*box-shadow: 10px 10px 15px #886e42;*/
    
}

.review-box h3 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 20px;
    color: #333333;
    font-weight: 850;
}

.review-box p {
    text-align: left;
    font-size: 16px;
}






/* special_offer.css */
.special-offer {
    position: sticky;
    bottom: 20px;
    display: none;
    background-color: #ffffffb4;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
    text-align: center;
    border: 1px solid #886e42;
}

.special-offer h2 {
    color: #886e42;
    margin-bottom: 10px;
    font-weight: 825;
}

.special-offer p {
    margin: 0;
}

#specialItem {
    font-weight: bold;
    color: #886e42;
    text-shadow: 0 0 10px #ffffff;
    text-decoration: underline;
    font-weight: 800;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: #333333;
}

.close-btn:hover {
    color: #886e42;
}

#contactnadpis h2 {
    margin-bottom: 20px;
    color: #886e42;
    font-weight: 825;
}

.container11 {
    margin-top: 100px;
    width: 100%;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
}

.container11 .content11 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container11 .content11 h3 {
    font-weight: 825;
    color: #333333;
}


.container11 .content11 .left-side11 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content11 .left-side11::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.content11 .left-side11 .details {
    margin: 14px;
    text-align: center;
}

.content11 .left-side11 .details i {
    font-size: 30px;
    margin-bottom: 10px;
    margin-right: 15px;
    
}

.content11 .left-side11 .details .topic {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}

.container11 .content11 .right-side11 {
    width: 50%;
    margin-left: 75px;
}

.map {
position: relative;
width: 500px;
height: 500px;
padding-top: 0; /* Poměr stran 1:1 (tj. čtverec) */
margin: 0 auto;
}

.map iframe {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
border: 0;
}

iframe {
    box-shadow: 0px 0px 50px #886e42ab;
}
@media (max-width:600px){
    .map{
        width: 100%;
        padding-top: 100%;
    }
    .content11 .left-side11 .details i {
        font-size: 25px;
    }
    .content11 .left-side11 .details .topic {
        font-size: 16px;
        font-weight: 450;
    }
}


@media (max-width: 1000px) {
    .container11 {
        margin: -40px 0;
        height: 100%;
        padding: 20px 0 30px;
    }

    .container11 .content11 {
        flex-direction: column;
        align-items: center;
    }

    .container11 .content11 .left-side11 {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container11 .content11 .left-side11::before {
        display: none;
    }

    .container11 .content11 .right-side11 {
        width: 100%;
        margin-left: 0;
    }
    .map{
        width: 80%;
        padding-top: 80%;
        margin-top: 50px;
    }
}



footer {
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
    padding: 20px;
    height: 20vh;
    margin-top: 100px;
    border-top: solid 2px #886e42;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 20px;
}
@media (max-width: 1225px) {
    
    .about-image-leva img {
        margin-right: -50px;
    }
    
    .about-image-prava img {
        margin-left: -50px;
    }
}



@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .about-text {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .review {
        flex-direction: column;
    }

    .review-box {
        padding: 20px;
        margin-bottom: 30px;
    }

    .review-box p {
        font-size: 15px;
    }

    .about-image img {
        margin-left: 0px;
        margin-right: 0px;
    }

    .about-image-prava img {
        margin-left: 0px;
        margin-right: 0px;
        
    }

    .about-image-leva img {
        margin-left: 0px;
        margin-right: 0px;
    }

    .content11 .left-side11 .details .topic {
        font-size: 20px;
    }

}



.vitej {
    width: auto;
    height: 90vh;
    position: relative;
    background-image: url(insideutopia.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.vitej::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #886e4233;
    backdrop-filter: blur(10px);
}

.vitej div {
    position: relative;
    z-index: 1;
    color: #ffffff;
    text-align: center;
    padding: 280px 0;
}

.vitej h1 {
    font-size: 3.5em;
    margin: 10px 0;
    color: #ffffff;
    text-shadow: 0 0 3px white;
    font-weight: 825;
}
.vitej div span {
    font-size: 1.2em;
    color: #ffffff;
    text-shadow: 0 0 10px #000000;
    font-weight: 300;
}





/*faq section*/
#accord1on h2 {
    margin-bottom: 20px;
    color: #886e42;
    font-weight: 825;
}

.accordion{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 3px;
}
.accordion .accordion-content{
    margin: 10px 0;
    border-radius: 3px;
    background: white;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    padding: 15px;
}
.accordion-content.open{
    padding-bottom: 15px;
}
.accordion-content label{
    display: flex;
    min-height: 50px;
    padding: 0 15px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s linear;
}
.accordion-content.open label{
    min-height: 35px;
}
.accordion-content label .title{
    font-size: 17px;
    font-weight: 500;
    color: black;
    font-weight: bold;
}
.accordion-content label i{
    font-size: 15px;
    color: #886e42;
}
.accordion-content .description{
    height: 0;
    font-size: 15px;
    font-weight: 400;
    padding: 0 15px;
    transition: all 0.5s linear;
}
